---
- name: Import repo.yml
  ansible.builtin.import_tasks: repo.yml

- name: Update dell-system-update
  ansible.builtin.dnf:
    state: latest # noqa package-latest
    name:
      - dell-system-update
      - dsucatalog

- name: Import ism.yml
  ansible.builtin.import_tasks: ism.yml

- name: Import perccli.yml
  ansible.builtin.import_tasks: perccli.yml
