---
- name: Download Dell repository certificate
  ansible.builtin.get_url:
    url: https://cacerts.digicert.com/DigiCertGlobalG2TLSRSASHA2562020CA1-1.crt.pem
    dest: /etc/pki/ca-trust/source/anchors
    owner: root
    group: root
    mode: "0644"
  notify: Update CA Trust

- name: Run handlers if necessary
  ansible.builtin.meta: flush_handlers

- name: Add Dell OS independent repository
  ansible.builtin.yum_repository:
    file: dell-system-update
    name: dell-system-update_independent
    description: Dell OS independent
    baseurl: "{{ dell_repo_base_url }}/hardware/{{ dell_repo_version }}/os_independent/"
    gpgcheck: true
    exclude: dell-system-update*.i386

- name: Add Dell OS dependent repository
  ansible.builtin.yum_repository:
    file: dell-system-update
    name: dell-system-update_dependent
    description: Dell OS dependent
    baseurl: "{{ dell_repo_base_url }}/hardware/{{ dell_repo_version }}/os_dependent/RHEL9_64/"
    gpgcheck: true

- name: Create /usr/libexec/dell_dup
  ansible.builtin.file:
    path: /usr/libexec/dell_dup
    state: directory
    owner: root
    group: root
    mode: "0755"

- name: Install GPG Keys
  ansible.builtin.package:
    name: distribution-gpg-keys
    state: present
